{% extends 'userprofile-base.html' %}
{% load static %}
{% load i18n %}
{#{% load return_objects %}#}
{% get_available_languages as languages %}
{% get_current_language as LANGUAGE_CODE %}

{% block title_container %}{% trans 'All Plans' %}{% endblock %}

{% block head_container %}
        <link href="{% static 'theme/assets/apps/css/todo.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="todo-main-header">
                        <h3>{{ employee.first_name }} {{ employee.last_name }}</h3>
                        <ul class="todo-breadcrumb">
                            <li>
                                <a href="{% url 'userprofile:dashboard' %}">{% trans 'Dashboard' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="todo-container" id="work-plan-container" data-ajax-url="{% url 'userprofile:admin-employee-plan-ajax' employee.id  %}">
                    </div>

                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->


<!-- Modal -->
<div id="todo-task-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="left: 0;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="edit-location-order-modal-name">Map</h4>
      </div>
      <div class="modal-body" id="ajax-employee-map-div">
      </div>
    </div>

  </div>
</div>


<div id="edit-location-order-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="edit-location-order-modal-name"></h4>
      </div>
      <div class="modal-body" id="edit-location-order-modal-body">
        <form>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Select Employee' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-select" class="form-control select2-allow-clear">

                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Work Day' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-workday-select" class="form-control select2-allow-clear">

                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="single-append-text" class="control-label">{% trans 'Location' %}</label>
                <div class="input-group select2-bootstrap-append">
                    <select id="edit-location-order-modal-employee-change-location-select" class="form-control select2-allow-clear">

                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                    <a style="display: none;" onclick="changePositionLocation()" id="change-position-location-button" data-ajax-url="" class="btn btn-circle green btn-outline  btn-block" data-toggle="modal" data-target="#edit-location-order-modal">
                        <i class="fa fa-edit"></i>
                        {% trans 'Change' %}
                    </a>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}




{% block footer_container %}

        <script src="{% static 'theme/assets/custom/employee_plans.js' %}" type="text/javascript"></script>

{% endblock %}